* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;

  background-image: url(../Images/port-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  color: #fff;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  font-size: auto;
}

/* Navbar  */
header {
  margin: 0;
  height: 120px;
}
.navbar {
  height: 100px;
}
.logo {
  width: 150px;
  height: 150px;
  margin-top: -20px;
  margin-right: 150px;
}

nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
  font-size: 2em;
  /* background-color: rgba(81, 17, 124, 0.2);  */
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #51117c;
  transition: 0.3s;
}

/* blob svg  */

.svg-container {
  flex: 0 0 25%;
  height: 60%; /
}

#blob {
  fill-opacity: 0.8; 
}



/* sections */

#projects {
 
  margin-bottom: 30px;
  }
 
.cards {
  margin-top: 30px;
  padding: 0px 10px 10px 10px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 300px));
  gap: 180px;
  justify-content: center;
  margin-right: 100px;
  
}

.project1 {
  box-shadow: 3px 3px 7px;
  width: 28vw;
  height: 430px;
  border-radius: 10px;
  
}

.github {
  margin-left: 30px;
  margin-top: -25px;
}

.project1 h2 {
  color: #fff;
  display: flex;
  flex-direction: center;
  justify-content: center;
  margin-bottom: 30px;

}


img {
  width: 20vw;
  margin-left: 50px;
}

button {
/* margin-left: 100px; */
  border: none;
  background: #51117c;
  padding: 10px 20px;
  border-radius: 30px;
  color: #000;
  font-weight: bold;
  font-size: 15px;
  transition: 0.3s;
}

button:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.viewall {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-right: 50px;
  justify-content: space-between;

}

#about-me {
  height: 450px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.skills {
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
  margin-top: 50px;
  font-size: 70px;
}
.content-bio {
  flex: 0 0 70%;
}

h3,h4 {
  color: #fff;
}

/* Laptop styles */
@media screen and (min-width: 769px) and (max-width: 1200px) {
  * {
    box-sizing: border-box;
    margin: 0;
    max-width: 100vw;
  }
  
  body {
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
    background-image: url(../Images/port-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
   
  }

  h1 {
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 120px;
    font-size: auto;
  }

  /* Navbar  */
 header {
  display: block;
  margin: 0;
  height: 120px;
  
}
.navbar {
  display: block;
  height: 120px;
 /* 
  background-image: url(../Images/port-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw; */
}
.logo {
  width: 150px;
  height: 150px;
  margin-top: -10px;
  margin-left: -20px;
 
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;

}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 5px;
  font-size: 1.2em;
  margin-top: -90px;
  margin-left: 150px;
 

}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #51117c;
  transition: 0.3s;
}


  /* blob svg  */

.svg-container {
margin-top: -140px;
margin-left: 200px;
 margin-bottom: 30px;
flex: 0 0 35%;
 
}

#blob {
  fill-opacity: 0.8; 
  
}


/* sections */

#projects {

  margin-bottom: 50px;
  margin-top: -30px;
  display: flex;
  justify-content: center;
  }
 
  #projects h1 {
    display: none;
  }

.cards {
  margin-top: 15px;
  padding: 0px 5px 5px 5px;
  display: grid;
  grid-template-rows: repeat(3, minmax(0, 200px));
  grid-template-columns: 1fr;
  gap: 500px;
  justify-content: center;
  margin-bottom: 400px;
}

.project1 {
  box-shadow: 3px 3px 7px;
  width: 80vw;
  height: 600px;
  border-radius: 10px;

}

.project1 h2 {
  color: #fff;
  display: flex;
  flex-direction: center;
  justify-content: center;
  margin-bottom: 30px;
}

.project1 h4 {
  margin-left: 60px;
  font-size: 1em;
}


img {
  width: 60vw;
  margin-left: 50px;
}

button {

  border: none;
  background: #51117c;
  padding: auto;
  border-radius: 20px;
  color: #000;
  font-weight: bold;
  font-size: auto;
  transition: 0.3s;
}

button:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.viewall {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-right: 50px;
  justify-content: space-between;

}

 #about-me {
  height: 450px;
 
} 



.skills {
  margin-left: -280px;
  font-size: 40px;
}
.content-bio {
  display: grid;
  grid-template-rows: repeat(3, minmax(0, 50px));
  gap: 25px;
  justify-content: center;
}




h3,h4 {
  font-size: 0.7em;
  color: #fff;
  margin-top: 120px;
  margin-left: -200px;
}

}



@media screen and (max-width: 768px) {


  * {
    box-sizing: border-box;
    margin: 0;
    max-width: 100vw;
  }
  
  body {
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
    background-image: url(../Images/port-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
   
  }

  h1 {
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 120px;
    font-size: auto;
  }

  /* Navbar  */
 header {
  display: block;
  margin: 0;
  height: 120px;
  
}
.navbar {
  display: block;
  height: 120px;
 /* 
  background-image: url(../Images/port-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw; */
}
.logo {
  width: 150px;
  height: 150px;
  margin-top: -10px;
  margin-left: -20px;
 
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;

}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 5px;
  font-size: 1.2em;
  margin-top: -90px;
  margin-left: 150px;
 

}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #51117c;
  transition: 0.3s;
}


  /* blob svg  */

.svg-container {
margin-top: -140px;
margin-left: 200px;
 margin-bottom: 30px;
flex: 0 0 45%;
 
}

#blob {
  fill-opacity: 0.8; 
  
}


/* sections */

#projects {

  margin-bottom: 50px;
  margin-top: -30px;
  display: flex;
  justify-content: center;
  }
 
  #projects h1 {
    display: none;
  }

.cards {
  margin-top: 15px;
  padding: 0px 5px 5px 5px;
  display: grid;
  grid-template-rows: repeat(3, minmax(0, 200px));
  grid-template-columns: 1fr;
  gap: 500px;
  justify-content: center;
  margin-bottom: 400px;
}

.project1 {
  box-shadow: 3px 3px 7px;
  width: 80vw;
  height: 600px;
  border-radius: 10px;

}

.project1 h2 {
  color: #fff;
  display: flex;
  flex-direction: center;
  justify-content: center;
  margin-bottom: 30px;
}

.project1 h4 {
  margin-left: 60px;
  font-size: 1em;
}


img {
  width: 60vw;
  margin-left: 50px;
}

button {

  border: none;
  background: #51117c;
  padding: auto;
  border-radius: 20px;
  color: #000;
  font-weight: bold;
  font-size: auto;
  transition: 0.3s;
}

button:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.viewall {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-right: 50px;
  justify-content: space-between;

}

 #about-me {
  height: 450px;

} 



.skills {
  margin-left: -280px;
  font-size: 40px;
}
.content-bio {
  display: grid;
  grid-template-rows: repeat(3, minmax(0, 50px));
  gap: 25px;
  justify-content: center;
}




h3,h4 {
  font-size: 0.7em;
  color: #fff;
  margin-top: 120px;
  margin-left: -200px;
}

}

@media screen and (max-width: 480px) and (max-width: 767px){

  * {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
    background-image: url(../Images/port-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;

  }

  h1 {
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 120px;
    font-size: auto;
  }

  /* Navbar  */
header {
  
  margin: 0;
  height: 100px;
}
.navbar {
  display: block;
  height: 100px;
}
.logo {
  width: 150px;
  height: 150px;
  margin-top: -10px;
  margin-left: -20px;
 
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;

}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 20px 5px;
  font-size: auto;
  margin-top: -90px;
  margin-left: 30px;

}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #51117c;
  transition: 0.3s;
}


  /* blob svg  */

.svg-container {
  display: block;
 margin-top: -140px;
 margin-left: 200px;
 margin-bottom: 110px;
 flex: 0 0 47%;
  
}

#blob {
  fill-opacity: 0.8; 
  
}


/* sections */

#projects {

  margin-bottom: 30px;
  margin-top: -50px;
  display: flex;
  justify-content: center;

}
 
#projects h1 {
  display: none;
}

.cards {
  margin-top: 15px;
  padding: 0px 5px 5px 5px;
  display: grid;
  grid-template-rows: repeat(3, minmax(0, 100px));
  grid-template-columns: 1fr;
  gap: 400px;
  justify-content: center;
  margin-bottom: 300px;
  margin-top: 100px;
}

.project1 {
  box-shadow: 3px 3px 7px;
  width: 80vw;
  height: 450px;
  border-radius: 10px;

  margin-left: 150px;
  
}

.github {
  margin-left: 30px;
  margin-top: -25px;
}

.project1 h2 {
  color: #fff;
  display: flex;
  flex-direction: center;
  justify-content: center;
  margin-bottom: 30px;
}

.project1 h4 {
  margin-left: 60px;
}


img {
  width: 60vw;
  margin-left: 50px;
}

button {

  border: none;
  background: #51117c;
  padding:auto;
  border-radius: 20px;
  color: #000;
  font-weight: bold;
  font-size: auto;
  transition: 0.3s;
  margin-left: 30px;
}

button:hover {
  cursor: pointer;
  transform: scale(1.3);
}
.viewall {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-right: 50px;
  justify-content: space-between;

}

 #about-me {
 /*  background-color: rgba(81, 17, 124, 0.2); */
  height: 450px;
  width: 100vw;
} 



.skills {
  margin-left: -250px;
  font-size: 40px;
}
.content-bio {
  display: grid;
  grid-template-rows: repeat(3, minmax(0, 50px));
  gap: 25px;
  justify-content: center;
}




h3,h4 {
  font-size: 0.7em;
  color: #fff;
  margin-top: 120px;
  margin-left: -310px;
}

}

@media screen and (min-width: 320px) and (max-width: 479px) {

  * {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
    background-image: url(../Images/port-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;

  }

  h1 {
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 120px;
    font-size: 1.2em;
  }

  /* Navbar  */
header {
  
  margin: 0;
  height: 100px;
}
.navbar {
  display: block;
  height: 100px;
}
.logo {
  width: 100px;
  height: 100px;
  margin-top: -10px;
  margin-left: -20px;
 
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;

}

nav ul li {
  display: block;
  list-style: none;
  display: inline-block;
  padding: 10px 2.5px;
  font-size: 1em;
  margin-top: -90px;
  margin-left: 30px;

}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #51117c;
  transition: 0.3s;
}


  /* blob svg  */

.svg-container {
  display: block;
 margin-top: -140px;
 margin-left: 200px;
 margin-bottom: 110px;
 flex: 0 0 47%;
  
}

#blob {
  fill-opacity: 0.8; 
  
}


/* sections */

#projects {

  margin-bottom: 30px;
  margin-top: -50px;
  display: flex;
  justify-content: center;

}
 
#projects h1 {
  display: none;
}

.cards {
  margin-top: 15px;
  padding: 0px 5px 5px 5px;
  display: grid;
  grid-template-rows: repeat(3, minmax(0, 100px));
  grid-template-columns: 1fr;
  gap: 400px;
  justify-content: center;
  margin-bottom: 300px;
  margin-top: 100px;
}

.project1 {
  box-shadow: 3px 3px 7px;
  width: 80vw;
  height: 450px;
  border-radius: 10px;

  margin-left: 150px;
  
}

.github {
  margin-left: 30px;
  margin-top: -25px;
}

.project1 h2 {
  color: #fff;
  display: flex;
  flex-direction: center;
  justify-content: center;
  margin-bottom: 30px;
}

.project1 h4 {
  margin-left: 60px;
}


img {
  width: 60vw;
  margin-left: 50px;
}

button {

  border: none;
  background: #51117c;
  padding:auto;
  border-radius: 20px;
  color: #000;
  font-weight: bold;
  font-size: auto;
  transition: 0.3s;
  margin-left: 30px;
}

button:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.viewall {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-right: 50px;
  justify-content: space-between;

}

 #about-me {
 /*  background-color: rgba(81, 17, 124, 0.2); */
  height: 450px;
  width: 100vw;
} 



.skills {
  margin-left: -200px;
  font-size: 40px;
}
.content-bio {
  display: grid;
  grid-template-rows: repeat(3, minmax(0, 70px));
  gap: 25px;
  justify-content: center;
}




h3,h4 {
  font-size: 0.6em;
  color: #fff;
  margin-top: 120px;
  margin-left: -200px;
}
}

